@page "{id:int?}"
@model DemoAspNetCore.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container">
  <div class="row">
    <div class="col-12">
      <div id="dataGrid"></div>
    </div>
  </div>
</div>

@section Scripts{
  <script type="text/javascript">
    $(function () {
      window.initializeCallList(@Model.Id);
    });
  </script>
}
